@using TabStripDemo.Controllers
@using TabStripDemo.Repositories

@{
	var UserID=EncryptorDecryptor.EncryptAsync(AuthenticationController.AdminUserID.ToString());
}
<div id="mySidenav" class="sidenav">
  <a asp-action="Index" asp-controller="CandidateParticipation" asp-route-EncrUserId="@UserID" id="about">Home</a>
  <a href="#" id="blog">Profile</a>
  <a asp-action="ResolvedTransactions" asp-controller="RequestStatus" asp-route-status=1 id="projects">Approvals</a>
  <a asp-action="ResolvedTransactions" asp-controller="RequestStatus" asp-route-status=2 id="contact">Rejections</a>
  <a asp-action="Logout" asp-controller="Authentication" method="get" id="Logout">Logout</a>
</div>

<style>
	/* Style the links inside the sidenav */
#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  right: -80px; /* Position them outside of the screen */
  transition: 0.7s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 185px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  right: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#about {
  top: 20px;
  background-color: indigo;
}

#blog {
  top: 80px;
  background-color: #2196F3; /* Blue */
}

#projects {
  top: 140px;
  background-color: #f44336; /* Red */
}

#contact {
  top: 200px;
  background-color: #555 /* Light Black */
}
#Logout{
  top: 260px;
  background-color: #964B00 /* Brown */
}
</style>