@using TabStripDemo.Repositories
@model TabStripDemo.Models.CandidateTransaction

@{
    ViewData["Title"] = "Create";
}
@{
	var UserID=EncryptorDecryptor.EncryptAsync(@Model.UserId.ToString());
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="UserId" class="control-label"></label>*@
                 <input asp-for="UserId" type="hidden" class="form-control" />
               @* <select asp-for="UserId" class ="form-control" asp-items=""></select>*@
            </div>
            <div class="form-group">
                 <h5 style="color:indigo;">Enter your bank name</h5>
                <input asp-for="ReciepientBank" class="form-control" />
                <span asp-validation-for="ReciepientBank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5 style="color:indigo;">Choose transaction type</h5>
                 <select asp-for="TransactionType" class ="form-control" asp-items="@ViewBag.TransactionTypes"></select>
                <span asp-validation-for="TransactionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <h5 style="color:indigo;">Enter Unique Reference Number of your transaction</h5>
                <input asp-for="Utr" class="form-control" />
                <span asp-validation-for="Utr" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <h5 style="color:indigo;">Choose transaction date</h5>
                <input asp-for="TransactionDate" class="form-control" />
                <span asp-validation-for="TransactionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <h5 style="color:indigo;">Enter the transaction amount</h5>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
           @* <div class="form-group">
                <label asp-for="TransactionRecieptPath" class="control-label"></label>
                <input asp-for="TransactionRecieptPath" class="form-control" />
                <span asp-validation-for="TransactionRecieptPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovalStatus" class="control-label"></label>
                <input asp-for="ApprovalStatus" class="form-control" />
                <span asp-validation-for="ApprovalStatus" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-warning" asp-controller="CandidateParticipation" asp-route-EncrUserId="@UserID">Back to List</a>
</div>

