@model TabStripDemo.Models.CandidateAcademic
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create";
}

<h4 style="color:indigo;">Enter Your Academic Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="CandidateAcademics" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>*@
            <div class="form-group">
                <h5 style="color:indigo;">Enter your first name</h5>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
               <h5 style="color:indigo;">Enter your last name</h5>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
               <h5 style="color:indigo;">Enter your most preferable language for coding</h5>
               <select asp-for="Pglanganguage" class ="form-control" asp-items="ViewBag.PreferedLanguageList"></select>
            </div>
            <div class="form-group">
                <h5 style="color:indigo;">Enter your college name</h5>
                <input asp-for="CollegeName" class="form-control" />
                <span asp-validation-for="CollegeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5 style="color:indigo;">Select your persuing degree</h5>
                 <select asp-for="Degree" class ="form-control" asp-items="ViewBag.Degree"></select>
                <span asp-validation-for="Degree" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <h5 style="color:indigo;">Select your branch</h5>
                <select asp-for="Branch" class ="form-control" asp-items="ViewBag.Field"></select>
                <span asp-validation-for="Branch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

