@model Member
<div class="center">
    <div class="col-md-4">
        <form asp-action="ValidateMail">
            @*<h4>@ViewData["Message"]</h4>*@
            <h5 style="color:indigo;">Enter One Time Password   Sent On Your Mail ID</h5>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OTP" class="control-label"></label>
                <input asp-for="OTP" class="form-control" />
                <span asp-validation-for="OTP" class="text-danger"></span>                
            </div>           
            <div class="form-group">
                <input type="submit"  value="Validate" class="btn btn-primary" />              
            </div>
        </form>
    </div>
</div>

@*<style>
    .center{
        display:flex;
        justify-content:center;
    }
</style>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@if (TempData["InvalidOTPErrorMessage"]!= null)  
    {  
        <script type="text/javascript">  
            window.onload = function () 
			{  
                alert("@TempData["InvalidOTPErrorMessage"]");  
            };  
        </script> 
	}